Package: com.archergs.label
Name: Label
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.0
Architecture: iphoneos-arm
Description: Change your labels!
Maintainer: archergs
Author: archergs
Section: Tweaks
